* { box-sizing: border-box; } body {margin: 0;}
*{box-sizing:border-box;}body{margin:0;}
#iau9{
    font-family:Arial, Helvetica, sans-serif;
    color:#475569;
    background-color:rgba(0, 0, 0, 1);
    /* background-image:radial-gradient(400px at 50% 50%, rgba(7, 20, 244, 1) 10%, rgba(0, 0, 0, 1) 90%); */
    width: 1000px;
    height: 700px;
    background-image: radial-gradient(circle 400px at 50% 50%, rgba(7, 20, 244, 1) 10%, rgba(0, 0, 0, 1) 90%);

    background-position:0px 0px;background-size:100% 100%;background-repeat:repeat;
    background-attachment:scroll;
    background-origin:padding-box;}.gjs-heading{margin:0;}
#imk5{flex-direction:row;position:absolute;left:0%;right:0%;margin:auto;width:50%;justify-content:center;top:5%;font-size:300%;color:rgba(255, 255, 255, 1);font-family:Helvetica, sans-serif;display:flex;}
#iolf{position:absolute;width:40%;height:10%;margin:auto;font-size:300%;color:rgb(0, 0, 0);font-family:Helvetica, sans-serif;font-weight:700;text-align:center;border-radius:20px;bottom:20%;right:0px;left:0%;}
#ikr5{position:absolute;right:15%;width:15%;height:10%;margin:auto;font-size:300%;color:rgb(0, 0, 0);font-family:Helvetica, sans-serif;font-weight:700;text-align:center;border-radius:25px;bottom:37%;}
#form{position:absolute;top:20%;width:100%;height:30%;}
#i44ok{width:40%;position:absolute;height:25%;margin:auto;right:0px;left:0%;}
#ipbmg{position:absolute;height:100%;text-align:center;color:rgba(255, 255, 255, 1);display:flex;align-items:center;font-size:200%;font-family:Helvetica, sans-serif;}
#Username{position:absolute;right:0px;top:0%;bottom:0px;width:60%;border-radius:10px;}
#Password_label{
    position:absolute;
    height:100%;
    text-align:center;
    color:rgba(255, 255, 255, 1);
    display:flex;
    align-items:center;
    font-size:200%;
    left:0px;
    font-family:Helvetica, sans-serif;
}
#Password_textbox{position:absolute;right:0px;top:0%;bottom:0px;width:60%;border-radius:10px;}
#i85wj{width:40%;position:absolute;right:0px;left:0%;height:25%;top:32%;margin:auto;}
#login_button{display:flex;height:20%;margin:auto;position:absolute;right:0px;width:45%;left:0px;border-radius:10px;justify-content:center;align-items:center;color:rgba(0, 0, 0, 1);font-family:Helvetica, sans-serif;font-size:130%;font-weight:700;bottom:11%;}
#greeting{
    padding:10px;
    position:absolute;
    width:25%;
    margin:auto;
    right:0px;
    top:0%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgba(255, 255, 255, 1);
    font-family:Helvetica, sans-serif;
    font-size:120%;
    visibility: hidden;
}
#i2wo3{position:absolute;left:15%;width:15%;height:10%;margin:auto;font-size:300%;color:rgb(0, 0, 0);font-family:Helvetica, sans-serif;font-weight:700;text-align:center;border-radius:25px;bottom:37%;}
#izisr{position:static;top:0px;}
#idf1g{position:absolute;width:20%;height:10%;margin:auto;font-size:300%;color:rgb(0, 0, 0);font-family:Helvetica, sans-serif;font-weight:700;text-align:center;border-radius:25px;bottom:37%;right:0px;left:0%;}
#i7efi{padding:10px;font-family:Tahoma, Geneva, sans-serif;}
#high_score_label{
    font-family:Helvetica, sans-serif;
    font-size:150%;
    position:absolute;
    top:2%;
    left:2%;
    color:rgba(255, 255, 255, 1);
    
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}