* {
	box-sizing:border-box;
}
body {
	margin:0;
}
* {
	box-sizing:border-box;
}
body {
	margin:0;
}
#backround {
	font-family:Arial,Helvetica,sans-serif;
	color:#475569;
	background-color:rgba(0,0,0,1);
	
	width:1000px;
	height:700px;
	background-image:radial-gradient(circle 400px at 50% 50%,rgba(7,20,244,1) 10%,rgba(0,0,0,1) 90%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-repeat:repeat;
	background-attachment:scroll;
	background-origin:padding-box;
}
.gjs-heading {
	margin:0;
}
#imk5 {
	flex-direction:row;
	position:absolute;
	left:0%;
	right:0%;
	margin:auto;
	width:50%;
	justify-content:center;
	top: 8%;
	font-size:300%;
	color:rgba(255,255,255,1);
	font-family:Helvetica,sans-serif;
	display:flex;
}
#form {
	position:absolute;
	top:30%;
	width:100%;
	height:35%;
}
#i44ok {
	width:40%;
	position:absolute;
	height:25%;
	margin:auto;
	right:0px;
	left:0%;
}
#ipbmg {
	position:absolute;
	height:100%;
	text-align:center;
	color:rgba(255,255,255,1);
	display:flex;
	align-items:center;
	font-size:200%;
	font-family:Helvetica,sans-serif;
}
#Username {
	position:absolute;
	right:0px;
	top:0%;
	bottom:0px;
	width:60%;
	border-radius:10px;
}
#Password_label {
	position:absolute;
	height:100%;
	text-align:center;
	color:rgba(255,255,255,1);
	display:flex;
	align-items:center;
	font-size:200%;
	left:0px;
	font-family:Helvetica,sans-serif;
}
#Password_textbox {
	position:absolute;
	right:0px;
	top:0%;
	bottom:0px;
	width:60%;
	border-radius:10px;
}
#i85wj {
	width:40%;
	position:absolute;
	right:0px;
	left:0%;
	height:25%;
	top:32%;
	margin:auto;
}
#login_button {
	display:flex;
	height:20%;
	margin:auto;
	position:absolute;
	right:0px;
	width:45%;
	left:0px;
	border-radius:10px;
	justify-content:center;
	align-items:center;
	color:rgba(0,0,0,1);
	font-family:Helvetica,sans-serif;
	font-size:130%;
	font-weight:700;
	bottom:11%;
}
#greeting {
	padding:10px;
	position:absolute;
	width:25%;
	margin:auto;
	right:0px;
	top:2%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:rgba(255,255,255,1);
	
	

    font-family:Helvetica,sans-serif;
	font-size:150%;
	
	
	
	
}
#high_score_label {
	font-family:Helvetica,sans-serif;
	font-size:150%;
	position:absolute;
	top:2%;
	left:2%;
	color:rgba(255,255,255,1);
}
#info_text {
	position:absolute;
	text-align:center;
	color:rgba(255,255,255,1);
	display:flex;
	align-items:center;
	font-size:200%;
	font-family:Helvetica,sans-serif;
	top:70%;
	left:0%;
	width:100%;
	justify-content:center;
}



/*/////////////////////////////////////////* page 2 /////////////////////////////////////////////////////////*/
* {
	box-sizing:border-box;
}
body {
	margin:0;
}
* {
	box-sizing:border-box;
}
body {
	margin:0;
}
#iolf {
	position:absolute;
	width:40%;
	height:10%;
	margin:auto;
	font-size:300%;
	color:rgb(0,0,0);
	font-family:Helvetica,sans-serif;
	font-weight:700;
	text-align:center;
	border-radius:20px;
	bottom:25%;
	right:0px;
	left:0%;
}
#ikr5 {
	position:absolute;
	right:15%;
	width:15%;
	height:10%;
	margin:auto;
	font-size:300%;
	color:rgb(0,0,0);
	font-family:Helvetica,sans-serif;
	font-weight:700;
	text-align:center;
	border-radius:25px;
	bottom:45%;
}
#i2wo3 {
	position:absolute;
	left:15%;
	width:15%;
	height:10%;
	margin:auto;
	font-size:300%;
	color:rgb(0,0,0);
	font-family:Helvetica,sans-serif;
	font-weight:700;
	text-align:center;
	border-radius:25px;
	bottom:45%;
}
#idf1g {
	position:absolute;
	width:20%;
	height:10%;
	margin:auto;
	font-size:300%;
	color:rgb(0,0,0);
	font-family:Helvetica,sans-serif;
	font-weight:700;
	text-align:center;
	border-radius:25px;
	bottom:45%;
	right:0px;
	left:0%;
}
#ikvg4 {
	position:absolute;
	text-align:center;
	color:rgba(255,255,255,1);
	display:flex;
	align-items:center;
	font-size:250%;
	font-family:Helvetica,sans-serif;
	top:20%;
	left:0%;
	width:100%;
	justify-content:center;
}
#ibc0n {
	position:absolute;
	right:5%;
	width:15%;
	height:5%;
	margin:auto;
	font-size:150%;
	color:rgb(0,0,0);
	font-family:Helvetica,sans-serif;
	font-weight:700;
	text-align:center;
	border-radius:25px;
	top:10%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.gjs-heading {
	margin:0;
}
#i8ubh {
	font-family:Helvetica,sans-serif;
	font-size:150%;
	position:absolute;
	top:4%;
	left:2%;
	color:rgba(255,255,255,1);
	width:25%;
	margin:auto;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
#if6rg {
	font-family:Helvetica,sans-serif;
	font-size:150%;
	position:absolute;
	top:9%;
	left:2%;
	color:rgba(255,255,255,1);
	width:25%;
	margin:auto;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	flex-direction:row;
}








.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
.pressed{
    background-color:rgba(75,99,107,1);

}



/* Game Page */

/* * { box-sizing: border-box; } body {margin: 0;}*{box-sizing:border-box;}body{margin:0;} */
#iolf-2{
	position:absolute;
	width:40%;
	height:10%;
	margin:auto;
	font-size:300%;
	color:rgb(0,0,0);
	font-family:Helvetica,sans-serif;
	font-weight:700;
	text-align:center;
	border-radius:20px;
	bottom:35%;
	right:0px;
	left:0%;
}
#ibc0n-2{
	position:absolute;
	right:5%;
	width:15%;
	height:5%;
	margin:auto;
	font-size:150%;
	color:rgb(0, 0, 0);
	font-family:Helvetica, sans-serif;
	font-weight:700;
	text-align:center;
	border-radius:25px;
	top:10%;
	display:flex;
	justify-content:center;
	align-items:center;
}.gjs-heading{margin:0;}
#i8ubh-2{
	font-family:Helvetica, sans-serif;
	font-size:150%;
	position:absolute;
	top:4%;
	left:2%;
	color:rgba(255, 255, 255, 1);
	width:25%;
	margin:auto;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
#if6rg-2{
	font-family:Helvetica, sans-serif;
	font-size:150%;
	position:absolute;
	top:9%;
	left:2%;
	color:rgba(255, 255, 255, 1);
	width:25%;
	margin:auto;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	flex-direction:row;
}
#greeting-3{
	padding:10px;
	position:absolute;
	width:25%;
	margin:auto;
	right:0px;
	top:2%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:rgba(255, 255, 255, 1);
	font-family:Helvetica, sans-serif;
	font-size:150%;
}
#ixh8j{
	width:15%;
	background-color:rgba(0,0,0,0);
	background-image:radial-gradient(circle 60px at 50% 50%,rgba(7,20,244,0.6) 10%,rgba(0,0,0,0) 90%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-attachment:scroll;
	background-origin:padding-box;
	position:absolute;
	left:15%;
	bottom:53%;
	margin:auto;
	font-family:Helvetica,sans-serif;
	text-align:center;
	height:15%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:rgb(255,255,255);
	font-weight:900;
	font-size:200%;
}
#i443l{
	width:15%;
	padding:10px;
	position:absolute;
	background-color:rgba(0,0,0,0);
	background-image:radial-gradient(circle 60px at 50% 50%,rgba(7,20,244,0.6) 10%,rgba(0,0,0,0) 90%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-attachment:scroll;
	background-origin:padding-box;
	right:15%;
	bottom:53%;
	margin:auto;
	font-family:Helvetica,sans-serif;
	text-align:center;
	height:15%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:rgb(255,255,255);
	font-weight:900;
	font-size:200%;
}
#ikvg4{
	position:absolute;
	text-align:center;
	color:rgba(255, 255, 255, 1);
	display:flex;
	align-items:center;
	font-size:250%;
	font-family:Helvetica, sans-serif;
	top:20%;
	left:0%;
	width:100%;
	justify-content:center;
}
#ihcx4{
	font-family:Helvetica,sans-serif;
	color:rgba(255,255,255,1);
	font-size:400%;
	font-weight:600;
	width:10%;
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	top:36%;
	right:30%;
}
#ik14c{
	font-family:Helvetica,sans-serif;
	color:rgba(255,255,255,1);
	font-size:400%;
	font-weight:600;
	width:10%;
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	left:30%;
	top:36%;
}
#i77vg{
	position:absolute;
	width:20%;
	height:10%;
	margin:auto;
	font-size:300%;
	color:rgb(0,0,0);
	font-family:Helvetica,sans-serif;
	font-weight:700;
	text-align:center;
	border-radius:25px;
	bottom:55%;
	right:0px;
	left:0%;
}
#i2ddl{
	pointer-events:none;
	width:8%;
	height:8%;
	position:absolute;
	bottom:18%;
	left:15%;
}
#idj6f{
	pointer-events:none;
	width:8%;
	height:8%;
	position:absolute;
	bottom:18%;
	left:25%;
}
#izr5i{
	pointer-events:none;
	width:8%;
	height:8%;
	position:absolute;
	bottom:18%;
	left:35%;
}
#i11yr{
	pointer-events:none;
	width:8%;
	height:8%;
	position:absolute;
	bottom:18%;
	left:45%;
}
#ijcxq{
	pointer-events:none;
	width:8%;
	height:8%;
	position:absolute;
	bottom:18%;
	left:55%;
}
#i97qe{
	pointer-events:none;
	width:8%;
	height:8%;
	position:absolute;
	bottom:18%;
	left:65%;
}
#igm81{
	pointer-events:none;
	width:8%;
	height:8%;
	position:absolute;
	bottom:18%;
	left:75%;
	
	
}


#play-again{
	position:absolute;
	width:40%;
	height:10%;
	margin:auto;
	font-size:300%;
	color:rgb(0,0,0);
	font-family:Helvetica,sans-serif;
	font-weight:700;
	text-align:center;
	border-radius:20px;
	bottom:20%;
	right:0px;
	left:0%;
}
#ibc0n-2{
	position:absolute;
	right:5%;
	width:15%;
	height:5%;
	margin:auto;
	font-size:150%;
	color:rgb(0, 0, 0);
	font-family:Helvetica, sans-serif;
	font-weight:700;
	text-align:center;
	border-radius:25px;
	top:10%;
	display:flex;
	justify-content:center;
	align-items:center;
}
#i8ubh-2{
	font-family:Helvetica, sans-serif;
	font-size:150%;
	position:absolute;
	top:4%;
	left:2%;
	color:rgba(255, 255, 255, 1);
	width:25%;
	margin:auto;
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
#if6rg-2{
	font-family:Helvetica, sans-serif;
	font-size:150%;
	position:absolute;
	top:9%;
	left:2%;
	color:rgba(255, 255, 255, 1);
	width:25%;
	margin:auto;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	flex-direction:row;
}
#ilgwo{
	font-family:Arial, Helvetica, sans-serif;
	color:#475569;
	background-color:rgba(0, 0, 0, 1);
	width:100%;
	height:100%;
	background-image:radial-gradient(circle 300px at 50% 50%, rgba(7, 20, 244, 1) 5%, rgba(0, 0, 0, 1) 95%);
	background-position:0px 0px;
	background-size:100% 100%;
	background-attachment:scroll;
	background-origin:padding-box;
	
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}
#greeting-3{
	padding:10px;
	position:absolute;
	width:25%;
	margin:auto;
	right:0px;
	top:2%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:rgba(255, 255, 255, 1);
	font-family:Helvetica, sans-serif;
	font-size:150%;
}
#ikvg4{
	position:absolute;
	text-align:center;
	color:rgba(255, 255, 255, 1);
	display:flex;
	align-items:center;
	font-size:250%;
	font-family:Helvetica, sans-serif;
	top:20%;
	left:0%;
	width:100%;
	justify-content:center;
}
#ii3p4{
	position:absolute;
	text-align:center;
	color:rgba(255, 255, 255, 1);
	display:flex;
	align-items:center;
	font-size:250%;
	font-family:Helvetica, sans-serif;
	top:30%;
	left:0%;
	width:100%;
	justify-content:center;
}
#izuf1{
	position:absolute;
	text-align:justify;
	color:rgba(255,255,255,1);
	display:flex;
	align-items:center;
	font-size:250%;
	font-family:Helvetica,sans-serif;
	top:50%;
	left:0%;
	justify-content:center;
	width:100%;
	font-weight:700;
}